@import "tailwindcss";
@plugin "./hero.js";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

:root {
  --background: #fdfcf0;
  --foreground: #003146;
}

@theme {
  --font-fraunses: var(--font-fraunses);
  --font-dm-sans: var(--font-dm-sans);

  --color-paper: #fdfcf0;
  --color-bookNavy: #003146;
  --color-shelfWood: #8d6e63;
  --color-libraryGreen: #2d5a27;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Base styles for clean typography */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fraunses), serif;
}

@layer components {
  .btn-primary {
    @apply bg-bookNavy text-paper font-medium font-dm-sans px-6 py-2 rounded-full hover:bg-bookNavy/90 active:scale-95 transition-all outline-none border-none cursor-pointer;
  }
}
